table {
    border-collapse: collapse;
}

th {
    text-align: center;
    background-color: #343a40;
    color: white;
}

td {
    vertical-align: middle;
    text-align: center;
}

.modal {
    z-index: 1055;
    /* Valor padrão do Bootstrap para modais */
}

.modal-backdrop {
    z-index: 1050;
    /* Fundo escuro do modal */
}

.modal.show {
    display: block !important;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fundo escuro para o modal */
    z-index: 1055;
    /* Certifique-se de que o modal está acima de outros elementos */
}

.modal-backdrop {
    z-index: 1050;
    /* Fundo do modal */
}